* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 300px;
    margin: auto;
    background-color: mediumslateblue;
    padding: 24px;
    color: white;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px;
}

button {
    padding: 5px;
}

#resultado {
    margin-top: 10px;
}