* {
    margin: 0;
    padding: 0;
}

.container {
    background: url(../images/churras.jpg);
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    float: right;
    background-color: #FFFFFFBB;
    padding: 24px;
}

.resultado {
    margin-top: 10px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px;
}

button {
    padding: 5px;
}

